---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import BaseHead from '../../components/BaseHead.astro';
import { Debug } from 'astro:components'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import type { Story } from '../../storyblok.ts';

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "projects",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values(data.stories);

  return stories.map((story: Story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/projects/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
console.log(story.published_at)
---

<html lang="en">
    <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
  <body>
    <StoryblokComponent blok={story.content} updatedDate={story.published_at}>
  </body>
</html>
